<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0GqqDPCN8BJJESvhwn0JZSt72EfWsku0</string>
	<key>GCM_SENDER_ID</key>
	<string>403642611136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoProjectDemo</string>
	<key>PROJECT_ID</key>
	<string>mobile-project-4b75c</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-project-4b75c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403642611136:ios:084517d92078eb6f430425</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-project-4b75c-default-rtdb.firebaseio.com</string>
</dict>
</plist>